<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (submit)="search()">
          <div class="form-group">
            <label for="exampleInputEmail1">Enter your search</label>
            <input formControlName="search" type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ result.record.product }}</td>
            <td>{{ result.record.description }}</td>
          </tr>
        </tbody>
      </table>
    <div>
  </div>
</div>